.App-header a.logo {
  display: inline-block;
}


.App-header {
  position: relative;
  color: white;
  height: auto;
  padding: 20px;
  overflow: hidden;
}

.App-header nav {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 35px;
}

.App-header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}


.App-header nav ul li {
  display: inline-block;
  padding: 0 5px;
}

.App-header nav ul li:last-child {
  padding-right: 0;
}

.App-header nav ul li a {
  color: black;
  text-decoration: none;
  padding: 15px;
  font-weight: bolder;
}

.App-header nav ul li a:hover,
.App-header nav ul li a.active {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.App-link {
  color: black;
}