/* .App {
text-align: center;
} */

img {
  max-width: 100%;
  height: auto;
}

.App-logo {
  max-width: 120px;
  pointer-events: none;
  /* float: left; */
}

.App-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
  overflow: hidden;
}

.App-wrap h2 {
  margin-top: 0;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */